%div{data: {url: upvote_path}, class: vote_arrow_class(votable, 1)}= icon('caret-up', '', class: 'fa-3x')
.votes-score= votable.votes_score
%div{data: {url: downvote_path}, class: vote_arrow_class(votable, -1)}= icon('caret-down', '', class: 'fa-3x')
